@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --blue-600: rgba(37, 99, 235, 1);
  --blue-gray600: rgba(71, 85, 105, 1);
  --blue-gray900: rgba(15, 23, 42, 1);
  --body-XS-font-family: "Roboto", Helvetica;
  --body-XS-font-size: 12px;
  --body-XS-font-style: normal;
  --body-XS-font-weight: 400;
  --body-XS-letter-spacing: 0px;
  --body-XS-line-height: 140%;
  --button-l-font-family: "Roboto", Helvetica;
  --button-l-font-size: 20px;
  --button-l-font-style: normal;
  --button-l-font-weight: 500;
  --button-l-letter-spacing: 0.5px;
  --button-l-line-height: 24px;
  --button-m-font-family: "Roboto", Helvetica;
  --button-m-font-size: 16px;
  --button-m-font-style: normal;
  --button-m-font-weight: 500;
  --button-m-letter-spacing: 0.5px;
  --button-m-line-height: 24px;
  --caption-m-font-family: "Roboto", Helvetica;
  --caption-m-font-size: 20px;
  --caption-m-font-style: normal;
  --caption-m-font-weight: 700;
  --caption-m-letter-spacing: 3px;
  --caption-m-line-height: 100%;
  --defaultalert: rgba(218, 30, 40, 1);
  --defaultwhite: rgba(255, 255, 255, 1);
  --foundation-bluedark: rgba(0, 129, 179, 1);
  --foundation-bluedark-active: rgba(0, 77, 107, 1);
  --foundation-bluedark-hover: rgba(0, 103, 143, 1);
  --foundation-bluedarker: rgba(0, 60, 83, 1);
  --foundation-bluelight-active: rgba(176, 229, 250, 1);
  --foundation-bluenormal: rgba(0, 172, 238, 1);
  --foundation-greydarker: rgba(13, 13, 13, 1);
  --foundation-greylight-hover: rgba(229, 229, 229, 1);
  --foundationbluelight: rgba(245, 252, 255, 1);
  --foundationgreylight-active: rgba(105, 105, 105, 1);
  --foundationgreynormal: rgba(38, 38, 38, 1);
  --grayswhite: rgba(255, 255, 255, 1);
  --heading-1-m-font-family: "Roboto", Helvetica;
  --heading-1-m-font-size: 72px;
  --heading-1-m-font-style: normal;
  --heading-1-m-font-weight: 800;
  --heading-1-m-letter-spacing: 0px;
  --heading-1-m-line-height: 110%;
  --heading-h1-font-family: "Roboto", Helvetica;
  --heading-h1-font-size: 56px;
  --heading-h1-font-style: normal;
  --heading-h1-font-weight: 700;
  --heading-h1-letter-spacing: 0px;
  --heading-h1-line-height: 120.00000762939453%;
  --indigo-500: rgba(99, 102, 241, 1);
  --indigo-600: rgba(79, 70, 229, 1);
  --light-text: rgba(255, 255, 255, 1);
  --m3-label-large-font-family: "Roboto", Helvetica;
  --m3-label-large-font-size: 14px;
  --m3-label-large-font-style: normal;
  --m3-label-large-font-weight: 500;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
  --m3-title-large-emphasized-font-family: "Roboto", Helvetica;
  --m3-title-large-emphasized-font-size: 22px;
  --m3-title-large-emphasized-font-style: normal;
  --m3-title-large-emphasized-font-weight: 500;
  --m3-title-large-emphasized-letter-spacing: 0px;
  --m3-title-large-emphasized-line-height: 28px;
  --shadow-dark-XL: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px
    rgba(0, 0, 0, 0.1);
  --text-regular-normal-font-family: "Roboto", Helvetica;
  --text-regular-normal-font-size: 16px;
  --text-regular-normal-font-style: normal;
  --text-regular-normal-font-weight: 400;
  --text-regular-normal-letter-spacing: 0px;
  --text-regular-normal-line-height: 150%;
  --text-small-link-font-family: "Roboto", Helvetica;
  --text-small-link-font-size: 14px;
  --text-small-link-font-style: normal;
  --text-small-link-font-weight: 400;
  --text-small-link-letter-spacing: 0px;
  --text-small-link-line-height: 150%;
  --text-small-normal-font-family: "Roboto", Helvetica;
  --text-small-normal-font-size: 14px;
  --text-small-normal-font-style: normal;
  --text-small-normal-font-weight: 400;
  --text-small-normal-letter-spacing: 0px;
  --text-small-normal-line-height: 150%;
  --white: rgba(255, 255, 255, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
